[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/etl"]
	path = lib/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "lib/mcuboot"]
	path = lib/mcuboot
	url = https://github.com/JuulLabs-OSS/mcuboot.git
